# Default configuration for usage in your local development environment.
# Some sensible defaults are not available, see `FILL_IN_MANUALLY` values.

# The port used when hosting documentation.
DOCS_PORT=6060

# App configuration. Run app with flag "-help" to see descriptions.
OPENWEATHER_API_KEY=FILL_IN_MANUALLY
WEATHERSTACK_ACCESS_KEY=FILL_IN_MANUALLY
